@*@model Item
@{
    ViewBag.Title = Model != null ? "Edit" : "Create";
}

<h2>@ViewBag.Title Item</h2>

<form asp-action=@ViewBag.Title>

<div asp-validation-summary=All></div>

<div class="mt-2 mt-md-0">
        <a href="#" class="btn btn-success" id="addNew" data-toggle="modal" data-target="#mdlNew" title="Add new item">Add new item</a>
</div>

<div id="mdlNew" class="modal fade modal-item" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-title">Add new item</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div id="frmItem">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ItemName" class="control-label">Item Name</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ItemPrice" class="control-label">Item Price</label>
                                <input asp-for="ItemPrice" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ItemPhoto" class="control-label">Picture</label>
                                <input asp-for="ItemPhoto" type="file" palceholder="Select image" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row" for="sizes">
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="Size" class="control-label">Size Name</label>
                                <input asp-for="Size" class="form-control" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                     <button type="submit" id="btnSaveHours" class="btn btn-primary" title="Save">Save</button>
                     </div>
            </div>
        </div>
    </div>
</div>
      
</form>
@section Scripts
{
    <script type="text/javascript">
        $(document).on('click', '.add-size', function(){
            var size = $('div[for="sizes"]:first').clone();

            size.find('.add-size').remove();
            $('#frmItem .modal-body').append(size);
        });

        $(document).on('click', '.remove-size', function () {
            $(this).closest('div[for="sizes"]').remove();
        });
        $('#addNew').on('click', function () {
                        $('#mdlNew').modal('show');
                    });
                    $('#btnSaveHours').on('click', function () {
                        var item = $('#Items').val();
                       console.log(item);
                       
                        $.ajax({
                            url: `/Items/Create`,
                            data: { name: item },
                            dataType: 'json',
                            contentType: "application/json",
                            type: "GET",
                            cache: false,
                            success: function (data) {
                                //GetItemsTable();
                                if (data.data === true) {
                                    //alert("Item hasn't added");
                                    window.location.href = "/Items/Index";

                                } else {
                                    alert("Item hasn't added");
                                }
                                $('#mdlNew').modal('hide');
                                $('#Items').val('');
                            },
                            error: function () {
                                $('#Items').val('');
                                alert("Item hasn't been erorr");
                            }
                        });
                    });
    </script>
}*@